#Variables de entorno y secretos 
.env

#Entornos virtuales y archivos compilados de Python
venv/
env/
__pycache__/
*.pyc
*.pyo

# Base de datos local
# Ignoramos la base de datos para no pisar los datos de tus compañeros
instance/
database/*.db
database/*.sqlite3

# Archivos temporales generados por la aplicación
# Ignoramos el contenido, pero mantenemos las carpetas vivas
uploads/*
!uploads/.gitkeep
reports/*
!reports/.gitkeep

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales y de trabajo local
*.docx
*.zip
files_extracted/
files.zip
git_status.txt
status.txt

# Configuración del editor
.vscode/
